/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.5;
  background-color: hsla(14,100%,53%,0.6); 
  color: black;
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 9px;
border-radius: 5px
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#button1 {
    background: lightgreen;
}

#button2 {
    background: pink;
}

#button3 {
    background: lightyellow;
}

#button4 {
    background: lightblue;
}

#button5 {
    background: lightgrey
}

#button1:active, #button1.lit {
    background:green;
}

#button2:active, #button2.lit {
    background:red;
}

#button3:active, #button3.lit {
    background:yellow;
}

#button4:active, #button4.lit {
    background:blue;
}

#button5:active, #button5.lit {
    background:darkgrey
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}